
<div>
  <h1 class="font-bold text-4xl text-blue-500">Your Company</h1>
</div>


<div class="p-10">
  <h1 class="mb-4 text-4xl font-black">Users</h1>
  <table class="min-w-full table-auto">
    <thead class="bg-gray-800 text-gray-300" >
      <tr>
        <th>Email</th>
        <th>Password</th>
      </tr>
    </thead>
    <tbody>
      <% @tenants.each do |user| %>
        <tr class="border-4 border-gray-200">
          <td><%= user.companyname %></td>         
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>
<div>
  


  